@model RoomOffer
<div class=" mt-5 pt-5 rounded container">
    <div class="row">
        <div class="col-12 col-sm-8 col-md-6 mx-auto">
            <div class="card shadow ">
                <div class="card-header bg-primary text-white text-center py-3">
                    <h3 class="m-auto fw-bold  fst-italic "> @(Model.OfferDescription == null ? "Create Offer For This Room " : "Update Offer For This Room ")</h3>
                </div>
                <div class="card-body ">
                    <form method="post">
                        <input hidden asp-for="RoomId" />
                        <div class="form-group ">
                            <label class="fw-bold fs-4 text-white">Offer Description</label>
                            <input asp-for="OfferDescription" class="form-control my-4 py-3 fw-bold border border-dark border-2">
                            <span asp-validation-for="OfferDescription" class="fw-bold text-warning"></span>

                        </div>
                        <div class="form-group ">
                            <label class="fw-bold fs-4 text-white">Offer Price <small >Pre Night</small></label>
                            <input asp-for="OfferPrice" class="form-control my-4 py-3 fw-bold border border-dark border-2">
                            <span asp-validation-for="OfferPrice" class="fw-bold text-warning"></span>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-primary btn-dark btn-lg w-25 p-2 fw-bold m-1"><i class="bi bi-gift"></i> Set Offer </button>
                            <a asp-controller="Hotel" asp-action="Show" class="btn btn-outline-secondary btn-dark btn-lg w-25 p-2 fw-bold m-1"><i class="bi bi-skip-backward-circle"></i> Back</a>
                            <a class="btn btn-outline-danger btn-dark btn-lg w-25 p-2 fw-bold m-1"><i class="bi bi-trash"></i> Delete</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <partial name="_validationscriptspartial" />
}